.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  width: 160px;
  height: 240px;
  padding: 16px;
  margin: 24px;
}

.card img {
  height: 160px;
  width: 160px;
}

.card h3 {
  margin: 8px;
  text-align: center;
}

.card p {
  margin: 16px;
  font-size: smaller;
  text-align: center;
}
